body {
    font-family: Arial;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupform {
    width: 350px;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    text-align: center;
}

.signupform input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid coral;
}

.signupform button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: chartreuse;
    
}
button:hover{
    color: blue;
}

