/* Page Background */
body {
    background: whitesmoke;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Login Box */
#login {
    width: 400px;
    margin: 120px auto;
    background: lightblue;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/* Heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Labels + Input Group */
.details {
    margin: 12px 0 5px;
    font-weight: 600;
}

/* Inputs */
.ip {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Buttons */
#submit_btn,
#back_btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: rgb(137, 183, 199);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#submit_btn:hover,
#back_btn:hover {
    background: #003d99;
}

/* Success Page Box */
#success_box {
    width: 350px;
    margin: 150px auto;
    background: rgb(226, 224, 224);
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#success_box h1 {
    margin-bottom: 20px;
}
