body {
    background: whitesmoke;
    font-style: normal;
    
}

.container {
    width: 400px;
    margin: 150px auto;
    background: rgb(135, 235, 162);
    padding: 30px;
    border-radius: 12px;
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.details{
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
}

label{
    display:block;
    margin-bottom: 10px;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

p{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

a{
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    padding: 10px;
    background-color:rgb(0, 119, 255);
    color: white;
    border: None;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color:  rgb(47, 255, 0);
}