body {
    background: whitesmoke;
    font-style: normal;
    
}

#login {
    width: 400px;
    margin: 150px auto;
    background: lightblue;
    padding: 30px;
    border-radius: 12px;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.details{
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
}

.ip{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: medium;
}

#submit_btn, #back_btn {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: rgb(137, 183, 199);
    color: white;
    border: rgb(146, 146, 210);
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    cursor: pointer;
    font-weight: 300;
}
#success_box {
    width: 350px;
    margin: 150px auto;
    background: rgb(226, 224, 224);
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    font-family: sans-serif;
}

#submit_btn:hover, #back_btn:hover {
    background: #003d99;
}

