body {
    background: #fafafa;
    text-align: center;
    padding-top: 40px;
    margin: 0;
    
    
}

.container {
    width: 400px;
    padding: 30px 40px;
    background: #ffffff;
    padding: 30px;
    border: 1px solid #dbdbdb;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    
}

h2 {
    font-weight: 600;
    text-align: center;
    color: #262626;
    margin-bottom: 30px;
}

.details{
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

label{
    display:block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color:#444;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: #fafafa;
    margin-top: 10px;
    font-size: 15px;
}

/*p{
    
    margin-top: 15px;
    font-size: 15px;
}*/
a{
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}
button, #back_btn{
    width: 100%;
    padding: 10px;
    background-color: #0095f6;
    color: white;
    border: None;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover,#back_btn:hover{
    background-color:  #007acc;
    color: black;
}

.bottom-text{
    margin-top: 20px;
    font-size: 14px;
    color: #444;
    text-align: center;
}