h1{
    color: red
}

body{
    text-align: center;
}

form{
    border: 1px solid black;
    width: 200px;
    padding:20px;
    margin: auto;
    border-radius: 20px;
    background: linear-gradient(purple,white);
}
.Submit{
    background-color: blue;
}
.Submit:hover{

   color: aqua;
}