body {
    font-family: Arial;
    padding: 20px;
}

header {
    background: #eef;
    padding: 10px;
    border-radius: 5px;
}

nav button {
    margin-top: 20px;
    padding: 10px;
}
.card {
    background: #f2f2f2;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
}
