body {
    font-family: Arial;
    
}

.loginform {
    width: 300px;
    margin: 100px auto;
    padding: 15px;
    border: 2px solid chocolate;
    text-align: center;
}

.loginform input {
    width: 90%;
    padding: 6px;
    margin: 8px 0;
    border: 1px solid greenyellow;
}

.loginform button {
    width: 95%;
    padding: 6px;
    margin-top: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.loginform p {
    margin-top: 10px;
    font-size: 14px;
}
